* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(255, 157, 0), rgb(204, 0, 255));
}
.container {
    position: relative;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container h2 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(45deg, rgb(255, 157, 0), rgb(204, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}
.container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container form label {
    font-size: 1.2rem;
}
.container form input {
    width: 100%;
    padding: 10px;
    outline: none;
    color: #333;
    font-weight: 500;
    font-size: 1.2rem
}
.container form  button {
    outline: none;
    margin-top: 10px;
    border: none;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 132, 0);
    transition: all 0.5s;
    cursor: pointer;
}
.container form  button:hover {
    box-shadow: 0 0 5px rgb(255, 132, 0),
    0 0 15px rgb(255, 132, 0);
}
#result {
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-size: 1.2rem;
    transition: all 0.5s;
    gap: 10px;
    display: none;
    flex-direction: column;
}